body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }
  
  #quiz {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .question-container {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .question {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .option-label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .result-message {
    margin-top: 10px;
    font-weight: bold;
    display: none;
  }
  
  .correct {
    color: green;
  }
  
  .wrong {
    color: red;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  h2 {
    text-align: center;
    text-shadow: #333;
    font-size: 1.5em;
    color:#0056b3;
  }

.correct-answer {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 5px;
    border-radius: 4px;
}
